
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  line-height: 1.5;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  max-width: 318px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 766px;
  }
}
@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

.section {
  padding: 96px 0;
}
@media (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .flex-container {
    flex-direction: row;
  }
}

.header {
  padding: 16px 0;
  border-bottom: solid 1px #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
@media (min-width: 768px) {
  .header {
    padding: 0;
  }
}

.header-items {
  display: flex;
}

.navigation {
  margin-right: auto;
}
@media (min-width: 768px) {
  .navigation {
    padding: 0;
    display: flex;
    align-items: center;
  }
}

.logo-header,
.logo-footer {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .logo-header {
    margin-right: 120px;
  }
}
@media (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }
}

.logo-footer {
  text-align: center;
  display: block;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .logo-footer {
    display: inline-block;
  }
}

.logo-header-span {
  color: #2e2f42;
}

.logo-footer-span {
  color: #f4f4fd;
}

.nav-links-container {
  display: none;
}
@media (min-width: 768px) {
  .nav-links-container {
    display: flex;
    gap: 40px;
  }

  .nav-link-container {
    position: relative;
  }

  .nav-link:after {
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    display: block;
    content: '';
    background-color: #404bbf;
    opacity: 0;
    border-radius: 2px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover:after {
    background-color: #404bbf;
    opacity: 1;
  }

  .nav-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    color: #2e2f42;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  .nav-link-container:first-child .nav-link {
    color: #404bbf;
  }

  .nav-link-container:first-child .nav-link:after {
    opacity: 1;
  }
}

.contacts-container {
  display: none;
}
@media (min-width: 768px) {
  .contacts-container {
    display: flex;
    align-items: center;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact {
    display: block;
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media (min-width: 1158px) {
  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .contact {
    padding: 24px 0;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contact:hover,
.contact:focus {
  color: #404bbf;
}

.hamburger-menu-open-button {
  background-color: transparent;
  border: none;
  line-height: 0;
}
@media (min-width: 768px) {
  .hamburger-menu-open-button {
    display: none;
  }
}

.hero {
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/section/people-office-mobile320.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/section/people-office-mobile320@2x.jpg');
  }
}
@media (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/section/people-office-tablet768.jpg');
  }
}
@media (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/section/people-office-tablet768@2x.jpg');
  }
}
@media (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/section/people-office-desktop1158.jpg');
  }
}
@media (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/section/people-office-desktop1158@2x.jpg');
  }
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
}
@media (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}

.order-button {
  display: block;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #fff;
  border: none;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  margin-top: 72px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .order-button {
    margin-top: 36px;
  }
}
@media (min-width: 1158px) {
  .order-button {
    margin-top: 48px;
  }
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.description-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media (min-width: 768px) {
  .description-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }

  .description-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media (min-width: 1158px) {
  .description-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

.icon-container {
  display: none;
}
@media (min-width: 1158px) {
  .icon-container {
    display: block;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: #f4f4fd;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    height: 112px;
  }
}

.secondary-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .secondary-title {
  }
}

.tertiary-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

@media (max-width: 1157px) {
  .enlarged-font {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
}

.text {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
@media (min-width: 1158px) {
  .text {
    font-weight: normal;
  }
}

.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}
@media (min-width: 768px) {
  .team-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 64px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.team-list-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
@media (min-width: 768px) {
}
@media (min-width: 1158px) {
  .team-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

.team-list-item-text-wrapper {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.team-member-name,
.portfolio-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.social-links-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 24px;
}

.social-link-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-link-icon {
  fill: #f4f4fd;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  justify-content: center;
}

.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .portfolio-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media (min-width: 1158px) {
  .portfolio-list-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  background-color: #4d5ae5;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
}

.portfolio-list-item-text-wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.footer {
  display: flex;
  padding: 96px 0;
  background-color: #2e2f42;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  row-gap: 72px;
}
@media (min-width: 1158px) {
  .footer-wrapper {
    flex-direction: row;
  }
}

.logo-social-media-container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
@media (min-width: 768px) {
  .logo-social-media-container {
    flex-direction: row;
  }
}

.footer-text {
  width: 264px;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.footer-block-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-block-title {
    text-align: start;
  }
}
.footer-social-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

@media (min-width: 768px) {
  .footer-logo-container {
    margin-right: 24px;
  }
}
@media (min-width: 1158px) {
  .footer-logo-container {
    margin-right: 120px;
  }
}

@media (min-width: 1158px) {
  .footer-social-links-container {
    width: 208px;
    margin-right: 80px;
  }
}

.footer-social-links-wrapper {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer-form {
    flex-direction: row;
  }
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-elements {
  display: flex;
}

.footer-form-input {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding: 0px 16px;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: #fff;
  border: none;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #404bbf;
}

.send-icon {
  fill: #f4f4fd;
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: absolute;
  border-radius: 4px;
  width: 288px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  padding: 72px 16px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}

.modal-close-button {
  position: absolute;
  right: 24px;
  top: 24px;
  padding: 0;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.modal-close-button svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-legend {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.label-input-wrapper {
  margin-bottom: 8px;
}

.label-textarea-wrapper {
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.icon-input-wrapper {
  position: relative;
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-input {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  width: 100%;
  height: 120px;
  resize: none;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus,
.modal-form-textarea:focus {
  border-color: #4d5ae5;
}

.modal-form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.fake-checkbox {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-form-label-text {
  display: inline-block;
}

.privacy-policy-checkbox:focus + .modal-form-checkbox-label .fake-checkbox {
  outline: auto;
}

.privacy-policy-checkbox:checked + .modal-form-checkbox-label .fake-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.privacy-policy-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-form-submit {
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #fff;
  border: none;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: #404bbf;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(100%);
  transform: translateX(0);
}

@media (max-width: 1200px) {
  .mobile-menu{
    display: none;
  }
}

@media (max-width: 767px) {
  .mobile-menu.is-open {
    display: block;
  }
}

.mobile-menu-container {
  padding: 72px 0 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.mobile-menu-close-button {
  position: absolute;
  right: 23px;
  top: 24px;
  padding: 0;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-button:active {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.modal-close-button svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-links-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-link:active {
  color: #404bbf;
}

.mobile-menu-nav-link-container:first-child .mobile-menu-nav-link {
  color: #404bbf;
}

.mobile-menu-contacts-container {
  margin-bottom: 48px;
}

.mobile-menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu-contact {
  display: block;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  color: #434455;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-contacts-list li:first-child .mobile-menu-contact,
.mobile-menu-contact:active {
  color: #404bbf;
}

.mobile-menu-social-links-wrapper {
  display: flex;
  gap: 40px;
}

.mobile-menu-social-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-link:active {
  background-color: #31d0aa;
}
