
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
margin-top: 0;
margin-bottom: 0;
}
ul,
ol {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
list-style-type: none;
}
a {
text-decoration: none;
color: inherit;
}
button {
cursor: pointer;
}
img {
display: block;
max-width: 100%;
height: auto;
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
.container {
max-width: 768px;
}
}
@media screen and (min-width: 1158px) {
.container {
max-width: 1158px;
padding: 0 15px;
}
}

/* =========== Page Header styles =========== */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 17px 0;
  }
  .studio-color {
  color: #2e2f42;
  }    
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  }
  .page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .menu {
  display: none;
  }
  .address-nav {
  display: none;
  }
.open-menu-btn {
padding: 0;
line-height: 0;
border-color: transparent;
cursor: pointer;
border: none;
}

@media screen and (min-width: 768px) {
.open-menu-btn {
display: none;
}
.page-nav {
display: flex;
align-items: center; 
}
.logo {
margin-right: 120px;
}
.menu {
display: flex;
gap: 40px;
} 
.menu-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
} 
.menu-link:hover,
.menu-link:focus {
color: #404bbf;
}
.menu-link.active {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link.active::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf; 
  border-radius: 2px;
}
.address-nav {
display: block;
}
.address-menu {
display: flex;
flex-direction: column;
gap: 12px;
}
address {
font-style: normal;
}
.address-item {
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item:hover,
.address-item:focus {
color: #404bbf;
}
}

@media screen and (min-width: 1158px) {
.logo {
margin-right: 76px;
}   
.address-menu {
flex-direction: row;
gap: 40px;
}
.address-item {
font-size: 16px;
line-height: 1.6;
}
}

/* ==============Mobile menu styles========================== */
@media screen and (max-width: 767px) {
.mobile-menu {
position: fixed;
top: 0;
left: 0;
z-index: 999999;
width: 100%;
height: 100%;
background-color: #fff;

opacity: 0;
visibility: hidden;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
opacity: 1;
visibility: visible;
}
.mobile-menu-close-btn {
position: absolute;
top: 24px;
right: 8px;
width: 24px;
height: 24px;
background-color: transparent;
padding: 0;
line-height: 0;
border-radius: 100%;
fill: #e7e9fc;
stroke-width: 1px;
stroke: #2e2f42;
}
.mobile-menu-close-icon {
fill: #2e2f42;
}
.mobile-menu-container {
position: relative;
}
}
.mobile-nav-menu {
display: inline-block;
margin-top: 72px;
margin-bottom: 168px;
min-width: 151px;
margin-left: 0;

}
.mob-menu-link {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.mobile-menu-item {
margin-bottom: 40px;
}
.mobile-menu-item:last-child {
margin-bottom: 0;
}
.mob-menu-link.mob-active {
color: #404bbf;
}
.mob-menu-link:hover,
.mob-menu-link:focus {
color: #404bbf;

}
.mobile-address-menu {
display: block;
min-width: 193px;
margin-bottom: 48px;
margin-left: 0;
}
.mobile-address-item {
font-weight: 500;
font-size: 20px;
font-style: normal;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
}
.mobile-address-menu-item {
margin-bottom: 24px;
}
.mobile-address-menu-item:last-child {
margin-bottom: 0;
}
.mobile-address-item.address-active {
color: #4d5ae5;
}
.mobile-address-item:hover,
.mobile-address-item:focus {
color: #4d5ae5;
}
.social-list-mob-menu {
display: flex;
gap: 40px;
margin: 0 8px 40px 0;
}
.social-list-icon-mob-menu {
width: 40px;
height: 40px;
}
.social-list-link-mob-menu {
width: 100%;
height: 100%;
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.social-list-link-mob-menu:hover,
.social-list-link-mob-menu:focus {
background-color: #31d0aa;
}
.social-icon-mob-menu {
fill: #f4f4fd;   
}

@media screen and (min-width: 768px) {
.mobile-menu {
display: none;
}
}
/* =================Mobile menu styles======================= */


/* =========== /Backdrop styles =========== */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  z-index: 9999999;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  }

  .backdrop.is-open {
  opacity: 1;
  visibility: visible;
  }
/* =========== /Backdrop styles =========== */

/* =========== /Modal window styles =========== */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}
@media screen and (min-width: 768px) {
.modal {
width: 408px;
min-height: 584px;
padding: 72px 24px 24px 24px;
}
}

  /* =========== /Modal window styles =========== */

.modal-close-btn {
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 24px;
right: 24px;
border-radius: 50%;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1); 
fill: #2e2f42;
width: 24px;
height: 24px;
padding: 0;
line-height: 0;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-close-btn-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, 
.modal-close-btn:focus {
background-color: #404bbf;
border: none;
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
fill: #ffffff;
}
/* =========== /Modal window styles =========== */

/* =========== /Contact form styles =========== */
.contact-form-descr {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
max-width: 256px;
margin-left: auto;
margin-right: auto;
}
.contact-form {
max-width: 256px;
margin-left: auto;
margin-right: auto;
margin-bottom: 16px;
}
.contact-form-input {
width: 100%;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 256px;
height: 40px;
background-color: transparent;
padding-left: 34px;
outline: transparent;
} 
.contact-form-field-wrapper {
margin-bottom: 8px;
}
.contact-form-field-wrapper:nth-child(4) {
margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
.contact-form-descr {
max-width: 360px;
}
.contact-form {
max-width: 360px;
}
.contact-form-input {
width: 360px;
}
}
@media screen and (min-width: 1158px) {
.contact-form-input {
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus{
border-color: #4d5ae5;
outline: transparent;
}
.contact-form-input:focus+.contact-form-field-icon {
fill: #4d5ae5;
}
}
.contact-form-field-wrapper {
margin-bottom: 8px;
}
.contact-form-field-wrapper:nth-child(4) {
margin-bottom: 16px;
}
.contact-form-field-lbl {
display: block;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;
}
.contact-form-input-wrapper {
position: relative;
}
.contact-form-field-icon {
position: absolute;
top: 50%;
left: 16px;
transform: translateY(-50%);
fill: #2e2f42;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-message {
width: 100%;
height: 120px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
resize: none;
padding: 8px 16px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4); 
outline: transparent;
}
.contact-form-message::placeholder {
color: rgba(46, 47, 66, 0.4);
}
@media screen and (min-width: 1158px) {
.contact-form-message:focus {
border-color: #4d5ae5;
outline: transparent;
}
}
.contact-form-checkbox-wrapper {
margin-bottom: 24px;
}
.contact-form-checkbox-label {
font-size: 12px;
letter-spacing: 0.04em;
color: #8e8f99;
line-height: 1.17;
}
.privacy-policy-link {
color: #4d5ae5;
text-decoration: underline;
}
.contact-form-own-checkbox {
display: inline-flex;
justify-content: center;
align-items: center;
width: 16px;
height: 16px;
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
cursor: pointer;
fill: transparent;
margin-right: 8px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-privacy-checkbox:checked+
.contact-form-checkbox-label
.contact-form-own-checkbox {
background-color:#404bbf;
fill: #f4f4fd;
border: none;
}
.contact-form-privacy-checkbox:focus+
.contact-form-checkbox-label
.contact-form-own-checkbox {
outline: 1px solid rgba(46, 47, 66, 0.4);
}
.contact-form-submit-btn {
display: block;
margin-right: auto;
margin-left: auto;
background-color: #4d5ae5;
border: none;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* =========== /Contact form styles =========== */



/* Hero styles */
.hero {
max-width: 320px;
min-height: 432px;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/section/people-office-mobile.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
margin-right: auto;
margin-left: auto;
padding: 72px 0;
}
@media screen and (min-resolution: 192dpi) {
.hero {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/section/people-office-mobile@2x.jpg');
}
}
.main-title {
max-width: 216px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #fff;
margin-left: auto;
margin-right: auto;
margin-bottom: 72px;
}
.order-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
border-radius: 4px;
border: none;
padding: 16px 32px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
display: block;
margin-right: auto;
margin-left: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-btn:hover,
.order-btn:focus {
background: #404bbf;
}

@media screen and (min-width: 768px) {
.hero {
max-width: 768px;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/section/people-office-tablet.jpg');
padding: 112px 0;
}
@media screen and (min-resolution: 192dpi){
.hero {
max-width: 768px;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/section/people-office-tablet@2x.jpg');
}   
}
.main-title {
font-size: 56px;
line-height: 1.07;
max-width: 496px;
color: #fff;
margin-bottom: 36px;
}
}

@media screen and (min-width: 1158px) {
.hero {
max-width: 1440px;
background-position: center;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/section/people-office-desktop.jpg');
padding: 188px 0;
}
@media screen and (min-resolution: 192dpi){
.hero {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/section/people-office-desktop@2x.jpg');
}   
}
.main-title {
margin-bottom: 48px;
}
}


/* ==============Our benefits================== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-section {
padding: 96px 0;
}
.benefits-item {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}
.benefits-item:last-child {
margin-bottom: 0;
}
.benefits-descr {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.benefits-title {
visibility: hidden;
margin-bottom: 0;
}
.benefits-list {
display: flex;
flex-wrap: wrap;
gap: 72px;
}  
.benefits {
width: 100%;
}
.benefits-item-icon-wrapper {
display: none;
}
@media screen and (min-width: 768px) {
.benefits-item {
text-align: start;
} 
.benefits-list {
column-gap: 24px;
row-gap: 72px;
}  
.benefits {
width: calc((100% - 24px) / 2);
}
.benefits-item:last-child {
margin-bottom: 8px;
}
}

@media screen and (min-width: 1158px) {
.benefits-section {
padding: 120px 0;
}
.benefits-item {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
margin-bottom: 8px; 
}
.benefits-descr {
font-weight: 400;
}
.benefits-list {
display: flex;
flex-wrap: wrap;
gap: 24px;
}
.benefits {
width: calc((100% - 72px) / 4);
}
.benefits-item-icon-wrapper {
display: flex;
justify-content: center;
align-items: center;
width: 264px;
margin-bottom: 8px;
margin-left: auto;
margin-right: auto;
height: 112px; 
background-color: #f4f4fd;
border-radius: 4px;
}
}

/* <!----- Section Our Team ---------> */
.employer {
padding: 32px 16px;   
}
.team-section {
background-color: #f4f4fd;
padding: 96px 12px;
}
.team-person {
width: 264px;
border-radius: 0px 0px 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background-color: #fff;
}
.team-item {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
background-color: #FFFFFF;
text-align: center;
margin-bottom: 8px;
}
.team-descr {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
background: #fff;
text-align: center;
margin-bottom: 8px;
}
.team-list {
display: flex;
flex-wrap: wrap;
row-gap: 72px;
}
.social-list-link {
display: flex;
gap: 24px;
justify-content: space-between;
justify-content: center; 
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
background-color: #404bbf;
}
.social-list-link-icon {
width: 40px;
height: 40px;
}
.social-list-icon {
fill: #f4f4fd;
justify-content: center;
align-items: center;
}
.icon-item {
  justify-content: center;
  align-items: center;
  display: flex;
}
@media screen and (min-width: 768px) {
.team-section {
padding: 96px auto;
}
.team-list {
gap: 24px;
row-gap: 64px;
justify-content: center;
}
}
@media screen and (min-width: 1158px) {
.team-section {
padding: 120px 0;
}
}
/* <!----- Section Our Team ---------> */




/* ===============Portfolio section================ */
.portfolio-section {
padding-top: 96px; padding-bottom: 96px;
}
.container-list {
display: flex;
flex-wrap: wrap;
row-gap: 48px;
min-width: 288px;
}
.portfolio-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
background: #fff;
}
.portfolio-descr {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
background: #fff;
}
.porfolio-elements {
padding: 32px 16px;
}
.portfolio-title {
margin-bottom: 8px;
}
.portfolio-img {
position: relative;
overflow: hidden;
}
.container-list-item {
width: 288px;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
border: 1px solid #f4f4fd;
background: #fff;
}
.container-list-item:hover {
box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.parag-overlay {
position: absolute;
top: 0;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
color: #f4f4fd; 
padding: 40px 32px;
height: 100%; 
width: 100%;
background-color:  #4d5ae5;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-list-item:hover .parag-overlay {
transform: translateY(0%);
}
@media screen and (min-width: 768px) {
.container-list {
column-gap: 24px;
row-gap: 72px;
min-width: 356px;
}
.container-list-item {
width: 356px;
}
}

@media screen and (min-width: 1158px) {
.portfolio-section {
padding-top: 120px; padding-bottom: 120px;
}
.container-list {
row-gap: 48px;
min-width: 360px;
}
.porfolio-elements {
border: #e7e9fc;
border-top: none; 
}
.container-list-item {
width: 360px;
border: 1px solid #e7e9fc;
}
}

/* ===============Portfolio section================ */

/* ===========================Footer===================== */
.footer-item {
background-color:#2e2f42;
padding: 96px 0;
}
.footer-container {
display: block;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  background: #2e2f42;
  margin-bottom: 16px;
  display: inline-block;
  margin-left: 86px;
  margin-right: 86px;
}
.logo-footer-studio {
color: #f4f4fd;
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.logo-paragraph {
margin-bottom: 72px;
}
.social-media-text {
margin-bottom: 16px;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
padding-left: 56px;
padding-right: 56px;
text-align: center;
}
.social-links-box {
margin-bottom: 72px;
}
.social-list-link-footer {
display: flex;
gap: 16px;
text-align: center;
justify-content: center;
}
.social-list-link-icon {
width: 40px;
height: 40px;
}
.social-list-link-item-footer {
width: 100%;
height: 100%;
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.social-list-link-item-footer:hover,
.social-list-link-item-footer:focus {
background-color: #31d0aa;
}
.social-list-icon-footer {
fill: #f4f4fd;   
}
.sbscr-title {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
text-align: center;
}
.sbscr-input {
width: 100%;
min-width: 264px;
height: 40px;
outline: transparent;
border: 1px solid #fff;
border-radius: 4px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
opacity: 0.3;
background-color: transparent;
padding-left: 16px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-bottom: 16px;
}
.sbscr-input::placeholder {
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #fff; 
}
.sbscr-input:focus {
border-color: #4d5ae5;
}
.btn-footer {
display: flex;
gap: 16px;
justify-content: center;
align-items: center;
padding: 0;
min-width: 165px;
height: 40px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
border-radius: 4px;
background: #4d5ae5;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
outline: transparent;
border: none;
margin-right: auto;
}
.btn-footer:hover,
.btn-footer:focus {
border-color: #4d5ae5;
}
.sbscr-btn-icon {
margin-left: 16px;
}
@media screen and (min-width: 768px) {
.logo-footer {
text-align: start;
}
.footer-item .footer-container {
display: flex;
flex-wrap: wrap;
align-items: baseline;
}
.logo-paragraph {
width: 264px;
margin-right: 24px;
margin-left: 96px;
}
.logo-footer {
margin-left: 0;
margin-right: 0;
}
.social-links-box {
min-width: 208px;
}
.social-media-text {
text-align: left;
padding-left: 0;
padding-right: 0;
}
.sbscr-title {
text-align: left;
}
.subscribe-footer {
margin-left: 96px;
}
.sbscr-input-btn {
display: flex;
gap: 24px;
}
}

@media screen and (min-width: 1158px) {
.footer-item {
padding: 100px 0;
}
.logo-paragraph {
margin-left: 0;
margin-right: 120px;
margin-bottom: 0;
}
.social-links-box {
margin-right: 80px;
margin-bottom: 0;
}
.subscribe-footer {
margin-left: 0;
}
.btn-footer {
margin-right: 0;
}
}
